.nav {
    height:70px;
    background:linear-gradient(90deg, #003366, #007f5f);
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}

.title {
    font-size:30px;
    color:white;
    font-weight:600;
    font-family:"Montserrat",sans-serif;
    text-transform:uppercase;
    margin-left:20px
}

.cartIconContainer {
    position:relative;
    cursor:pointer
}

.cartIcon{
    height:48px;
    margin-right:20px
}

.cartCount {
    background-color:orange;
    border-radius:50%;
    padding:4px 8px;
    position:absolute;
    right:10px;
    top:-5px;
    font-size:12px;
}